.footer {
  height: 200px;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
  color: #312e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #ffe4e1  0%, #ffc0cb 100%); /* gradiente horizontal */
}

.footer-content {
  text-align: center;
  line-height: 1.6;
}


#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: var(--color-neutral-1);;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}